@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inconsolata;
}

body {
    position: relative;
    overflow-x: hidden;

    /*background: linear-gradient(0deg,
    hsl(0, 0%, 100%) 50%,
    hsl(0, 0%, 0%) 50%,
    hsl(0, 0%, 0%) 52%,
    hsl(0, 100%, 50%) 52%
    );*/
}

.lightBlue {
    background: linear-gradient(0deg,
            hsl(184, 43%, 85%),
            hsl(184, 43%, 90%) 25%,
            hsl(184, 43%, 90%), 75%,
            hsl(184, 43%, 85%));

    /*position: sticky;*/
    margin: 0.5em;
    padding: 0.5em;
    border: hsl(0, 0, 20%) solid 2px;
    box-shadow: 0, 0, 2px, 1px hsl(0, 0, 20%) inset;
}

.container{
    position: relative;
    min-height: 90vh;
    display: grid;
    grid-template: 
        '. input .  images' auto
        /1em minmax(340px,18vw) 1em 1fr;
    align-content: center;
}

.sidebar{
    position: sticky;
    width: 100%;
    height: 5vh;
    z-index: 2;
    box-shadow: 0 0 5px 1px hsl(0, 0%, 20%);

}.s1{
    z-index: 1;
    top: 0px;
    background: linear-gradient(45deg,
    hsl(0, 0%, 20%) 0%,
    hsl(0, 0%, 10%) 29%,
    hsla(0, 0%, 100%) 29%,
    hsla(0, 0%, 100%) 30%,
    hsl(0, 100%, 45%) 30%,
    hsl(0, 100%, 40%) 100%
    ); 
    border-bottom: hsl(0, 0%, 20%) solid 5px;
}.s2{
    z-index: 3;
    bottom: 0px;
    background: linear-gradient(45deg,
    hsl(0, 100%, 40%) 0%,
    hsl(0, 100%, 45%) 55%,
    hsl(0, 0%, 100%) 55%,
    hsl(0, 0%, 100%) 56%,
    hsl(0, 0%, 20%) 56%,
    hsl(0, 0%, 10%) 100%
    ); 
    border-top:  hsl(0, 0%, 20%) solid 5px;
}

/*------------------------------------------------------------------------*/
/* --- Sticky interface --- */

:root {
/* Sticky UI container height based on vh, has to amount to 100vh */
--top-space: 12.5vh; /* half of 25vh */
--interface: 75vh;


/* Sticky UI elements height based on vh, by default amounts to 75vh */
--about-vh: min-content;
--searchContainer-vh: min-content;
--separator-vh: 0.3em;
--altImgContainer-vh: 30vh;
--apiLink-vh: 1fr;

/*extra*/

--border-radius: 10px;
}


@media (max-height: 840px) {

:root {
--top-space: 5vh;
--interface: 90vh;

--about-vh: min-content;
--searchConteiner-vh: min-content;
--separator-vh: 0.3em
--altImgContainer-vh: 30vh;        /*???*/
--apiLink-vh: 1fr;
--border-radius: 0px;
    }

.container {
    grid-template: 
    '. input .  images' 
    '. . . images' auto
    /0em minmax(340px,18vw) 1em 4fr;
}

}

@media (max-height: 610px) {

    :root{
        --top-space: 5vh; 
        --interface: 90vh;
        
        --about-vh: min-content;
        --searchContainer-vh: min-content;
        --separator-vh: 0.3em;
        --altImgContainer-vh: 30vh; 
         --apiLink-vh: 1fr;
        
    }

.altImgContainer *{
  display: none;
  background: none;
  visibility: hidden;
}
}

@media (max-height: 410px) {

    .apiLink *{
        display: none;
        background: none;
        visibility: hidden;
    }

    :root{
        --top-space: 5vh; 
        --interface: 90vh;
        
        --about-vh: min-content;
        --searchContainer-vh: min-content;
        --separator-vh: 0.3em;
        --altImgContainer-vh: 30vh; 
         --apiLink-vh: 0px;
}

}


.interface {
    z-index: 4;
    position: relative;
    overflow: hidden;
    /* min-height: fit-content; */
    height: var(--interface);
    width: 100%;
    background: hsl(0, 100%, 40%);
    position: sticky;
    grid-area: input;     /*???*/
    border: hsl(0, 0%, 20%) solid 5px;
    border-radius: var(--border-radius);
    box-shadow: 0 0 2px 1px hsl(0, 0%, 20%);
    display: flex;
    flex-direction: column;
    top: var(--top-space);
    justify-content: space-between;

    transition: easy all .5s;

}

.about {
    height: var(--about-vh);
    display: grid;
    grid-template:      /*!Aligning sidebar!*/
        "header header" max-content
        "info sprite" 1fr
        /2fr max-content;
}.about>h1 {
    grid-area: header;
    text-align: center;
}.about>p{
    grid-area: info;
}.about>img{
    grid-area: sprite;
    align-self: center;
    justify-self: center;
    height: max-content;
}

.searchContainer {
        height: var(--searchContainer-vh);    /*2 the same keys??*/
        position: relative;
        display: flex;
        align-content: center;
        justify-content: space-around;

}.searchContainer button {
    /*justify-items: right;*/                  
    width: 3em;
    height: 3em;
    border-radius: 100%;

    background: radial-gradient(
        white 0%,
        white 28%,
        black 31%,
        black 40%,
        white 43%,
        white 55%, 
        black 58%,
       black
    );
}.searchContainer p {
    color: hsl(184, 43%, 85%);
}.inputField {
    text-align: center;
    margin-left: 0;
}.searchDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.separator{
    height: var(--separator-vh);
    margin-top: 0.5em;
    background: hsl(0, 0%, 20%);
    box-shadow: 0 0 2px 1px hsl(0, 0%, 20%);
}

.altImgContainer {             /*???*/
    height: var(--altImgContainer-vh);
    display: flex;
    align-items: center;
    justify-content: center;
}.altImg {
    visibility: hidden;
    height: 75%;
}


.apiLink {
    height: var(--apiLink-vh);
    width: 40%;
    color: whitesmoke;
    display: flex;
    flex-flow: column;
    align-self: center;
    padding: 0;
    margin: 0;
}.apiLink h2 {
    text-align: center;
}.apiLink img {
    width: 100%;
    align-self: center;
}


/*------------------------------------------------------------------------*/
/* --- Image grid collage ---*/

@media (min-width:800px){
    .imgGrid{
        grid-template-columns: repeat(auto-fit, minmax(200px, 20vw));
        transition: ease all .5s;
    }    
}

.imgGrid{
    grid-area: images;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto-fit, 20vw));
    gap: 1.5em;
    justify-content: center;
    
    transition: ease all .5s;
}

.imgGrid img{
    width: 100%;
    max-width: 350px;
    background-image: url('https://pngimg.com/uploads/pokeball/pokeball_PNG27.png');
    background-position: center;
    background-size: cover;
    overflow: hidden;
    transform:scale(1);
    transition: transform 1.5s, z-index 0s;
}

.imgGrid img:hover{
    z-index: 2;
    transform: scale(1.2);
}


/*------------------------------------------------------------------------*/
/* POKEBALL */

.pokeball {
    position: absolute;
    display: flex;
    justify-content: center;
    justify-items: center;

    height: 30vh;
    width: 30vh;

    border-radius: 100%;
    border: black solid;

    --degrees: 360deg;
    --scale: 1.5;
    --seconds: 1.5s;
    transition: transform var(--seconds) ease-in-out;
}

.pokeball.body.pokeball{
    box-sizing: border-box;
    border-width: 0.3em;

    background: linear-gradient(
        0deg,
        white 44.8%,
        black 45%,
        black 55%,
        red 55.2%
    );

}

.pokeball.center{
    justify-self: center;
    align-self: center;
    height: 50%;
    width: 50%;
     /* border-width: 0.7em; */
     border: none;
     z-index: 0;


     background: radial-gradient(
        white 0%,
        white 30%,
        black 31%,
        black 40%,
        white 41%,
        white 55%, 
        black 56%,
        black 
    );
}

/*pink*/
.pokeball.pink{
    z-index: -1;
    height: 30vh;
    width: 30vh;
}

.pokeball.body.pokeball.pink {
    background: linear-gradient(
        0deg,
        rgb(243, 192, 192) 44.8%,
        black 45%,
        black 55%,
        rgba(255, 255, 255, 25%) 55.2%
    );
}

.pokeball.center {
    justify-self: center;
    align-self: center;
    height: 65%;
    width: 65%;
    /* border-width: 0.7em; */
    border: none;
    z-index: 0;

    background: radial-gradient(
        rgb(243, 192, 192) 0%,
        rgb(243, 192, 192) 30%,
        black 31%,
        black 40%,
        rgb(243, 192, 192) 41%,
        rgb(243, 192, 192) 55%, 
        black 56%,
        black 
    );
}
